.container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2.5%;
}
.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    background-color: #FFF7D4;
    border-radius: 10px;
    padding:0%;
}

.product-image {
    width: 50%;
    height:100%;
}

.product-image img {
    height: 10rem;
    border-radius: 10px;
    padding: 1%;
}

.product-info {
    width: 50%;
}

.product-info h1 {
    font-size: 2vh;
    font-weight: bold;
}

.product-info p {
    font-size: .75rem;
}

.product-info button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    /* font-weight: bold; */
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: #EEC759;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.product-info button:hover {
    background-color: #FFD700;
    color: #000;
}
.product-info button:active {
    background-color: #ffe96c;
    color: #000;
}
#popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .2s ease-in-out;
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
}
#popup-message {
    font-size: 1rem;
}
#popup button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: #EEC759;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.container-checkout {
    display:flex;
    flex-direction:column;
    border-radius: 10px;
    background-color: #EEC759;
    align-items:center;
    margin:0 auto;
    margin-bottom:5%;
    margin-top:5%;
    width:65%;
}
.container-checkout h1{
    padding:3%;
    font-size: 1.5rem;
}
.breakdown{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
table{
    width: 50%;
}
tr, td, th {
    text-align: center;
    font-size: .80rem;
}
tr{
    font-size: 1rem;
}
.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 10px;
    padding: 2.5%;
}
.checkout-form form label{
    font-size: 1rem;
}